// Variables
$website-width: 1280px;
$main-color: #ffd970;
$main-color: #ffde84;
$secondary-color: #e77f38;
$light-yellow: #fdf2e9;
$light-color: #fdfdfd;
$medium-color: #ddd;
$dark-color: #333;
$dark-blue: #042744;
$text-muted: #6c757d;
$bg-image: url("../img/background.jpg");
$font-numbers: "montserrat", sans-serif;
$shadow: 0 2.4rem 4.8rem #00000026;

// Set Text Color useful if you change any color it will evaluates color and set the new color if too light
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
