// Variables
$website-width: 1280px;
$shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;

$yellow-light: #ffde84;
$yellow-1: #ffef64;
$yellow-dark: #ffbc00;
$purple-color: #c184fa;
$hover-purple: #5c3f78;
$pink: #fc17c6;
$blue: #30d4d4;
$dark-purple: #ae6fe9;

$medium-color: #ddd;
$dark-color: #333;
$dark-blue: #042744;
$text-muted: #6c757d;
$light-grey: #f4f4f4;

$bg-white: #fdfdfd;
$bg-light: #fdf2e9;
$bg-dark: #eb984e;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: $yellow-dark;
  background-color: $yellow-1;
  background-color: $bg-white;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $dark-blue;
  line-height: 1;
  overflow-x: hidden;
  font-size: 1.6rem;
}
ul {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.2;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.6;
}

img {
  width: 100%;
}

strong {
  font-weight: 500;
}
