//The Modal (background)
.modal {
  display: none;
  position: fixed;
  z-index: 9999; // très haut pour être sûr d'être au-dessus de tout
  inset: 0; // shorthand pour top/right/bottom/left: 0
  display: flex; // permet un centrage facile du contenu
  align-items: center; // centre verticalement
  justify-content: center; // centre horizontalement
  overflow: hidden;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.7);
}

//Modal Content
.modal-content {
  background-color: #fefefe;
  border: 1px solid #622222;
  width: auto;
  max-width: 90%;
  margin: 0 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  .close {
    color: $pink;
    float: right;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 34px;
    font-weight: bold;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    @include mobile-device {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }
  p {
    color: black;
  }
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
