.container {
  max-width: $website-width;
  padding: 4rem 1.6rem;
  margin: 0 auto;
  @include laptop {
    padding: 4rem 4rem;
  }

  @include tablet {
    padding: 4rem 4rem;
  }
}

.text-white {
  color: #fff;
}

.center-text {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.title {
  // padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center;
  color: $blue;
  font-weight: 500;
  @media only screen and (max-width: 500px) {
    font-size: 2.5rem;
  }
}
.bottom-line {
  height: 0.8rem;
  width: 20rem;
  display: block;
  margin: 0 auto 3rem auto;
  background: $pink;
}
.white-line {
  height: 0.2rem;
  width: 5rem;
  display: block;
  margin: 1.5rem auto 1.5rem;
  background: #fff;
  background: $blue;
}
// config for all buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.text-center {
  text-align: center;
}

// Padding top & bototm
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }
}

// Margin top & bottom
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}
