.container {
  max-width: $website-width;
  padding: 4rem 1.6rem;
  margin: 0 auto;
  @include laptop {
    padding: 4rem 4rem;
  }

  @include tablet {
    padding: 4rem 4rem;
  }
  @include large-screen {
    padding: 4rem 4rem;
  }
}

.text-white {
  color: #fff;
}

.center-text {
  text-align: center;
}

.quotation {
  font-family: "Homemade Apple", cursive;
  font-style: italic;
  font-weight: 400;
  font-size: 1.8rem;
  color: $text-muted;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  padding-top: 2.5rem;
}
.title {
  color: $blue;
  font-weight: 500;
  padding-bottom: 3rem;
  text-align: center;
  @media only screen and (max-width: 500px) {
    font-size: 2.5rem;
  }
}
.bottom-line {
  background: $pink;
  display: block;
  margin: 0 auto 3rem auto;
  height: 0.8rem;
  width: 20rem;
}
.values-separator {
  background: $blue;
  display: block;
  height: 0.2rem;
  width: 5rem;
  margin: 1.5rem auto 1.5rem;
}
// config for all buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.text-white {
  color: #fff;
}
.text-pink {
  color: $pink;
}
.text-muted {
  color: $text-muted;
}
.text-yellow {
  color: $yellow-dark;
}
.text-center {
  text-align: center;
}
.text-dark {
  color: $dark-color;
}
// Padding top & bototm
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }
}

// Margin top & bottom
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}
