@import "config";
@import "utilities";

//------------------HEADER----------------//

#navbar {
  align-items: center;
  background-color: #ffffffe6;
  border-radius: 0 0 18px 18px;
  display: flex; //to be able to organize
  flex-wrap: nowrap;
  justify-content: space-between; //for logo on one side and links & ul on the other
  left: 0;
  max-width: $website-width;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  @include mobile-device {
    border-radius: 0;
  }
  #logo {
    width: 17rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      padding: 1rem 1.5rem; //adds padding between the lis
    }
  }

  .nav-link {
    color: $pink;
    font-weight: bold;
    border-bottom: 3px transparent solid; //used for the hover effect
    padding-bottom: 0.6rem;
    transition: border-color 0.4s; //for smooth effect on the hover
    &:hover,
    &:focus {
      border-color: $yellow-light;
    }
  }
  .cta {
    background-color: $yellow-dark;
    border-radius: 10rem;
    &:hover {
      background-color: $yellow-light;
    }
    a {
      color: $pink;
      border-bottom: none;
      &:focus,
      &:hover {
        color: $blue;
      }
    }
  }
  .hamburger {
    display: none;
    @include mobile-device {
      display: block;
      cursor: pointer;
    }
    &.active .bar:nth-child(2) {
      @include mobile-device {
        opacity: 0;
      }
    }

    &.active .bar:nth-child(1) {
      @include mobile-device {
        transform: translateY(8px) rotate(45deg);
      }
    }

    &.active .bar:nth-child(3) {
      @include mobile-device {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $yellow-dark;
  }
  .nav-menu {
    @include mobile-device {
      background-color: #fff;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      color: $pink;
      flex-direction: column;
      position: fixed;
      left: -100%;
      top: 5rem;
      text-align: center;
      transition: 0.3s;
      width: 100%;
    }
    &.active {
      @include mobile-device {
        left: 0;
        padding: 0 3rem;
        margin-top: 2.3rem;
      }
    }
  }
  .nav-item {
    @include mobile-device {
      margin: 1rem 2rem;
    }
  }
}

#navbar.top {
  background: transparent;
  .nav-link {
    color: #fff;
    @include mobile-device {
      color: $pink;
    }
  }

  ul li:last-child a {
    color: $pink;
  }
}
// Header
#header {
  &-home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/background-min.jpg) no-repeat center right / cover;
    clip-path: ellipse(138% 100% at -0.16% 0%);
    color: #fff;
    height: 85vh;
    @include mobile-device {
      background-position: 50% 30%;
    }
    @include tablet {
      background-position: 50% 80%;
    }

    .header-content {
      width: 50%;
      padding-top: 18%;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: flex-start;
      @include mobile-device {
        width: 100%;
      }
      @include laptop {
        width: 80%;
        padding-left: 2rem;
      }

      .heading-primary {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 5rem;
        color: $pink;
        @include mobile-device {
          font-size: 2.7rem;
        }

        &--sub {
          font-weight: 300;
          font-size: 3rem;
          color: $blue;
          @media (max-width: 34em) {
            font-size: 2rem;
          }
        }
      }
      p {
        font-size: 1.8rem;
        @media (max-width: 34em) {
          font-size: 1.6rem;
        }
      }
    }
  }
}

//-------------------------------SCHOOL SECTION---------------------------//
#school {
  .commitment__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding-bottom: 3rem;
    @media (max-width: 48em) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    .gradient-overlay {
      position: relative;
      overflow: hidden;
      border-radius: 18px 0 0 18px;
      border-radius: 50%;
      object-fit: fill;
      height: 35rem;
      width: 35rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to bottom left,
          $dark-color,
          $yellow-1
        );
        opacity: 0.4;
      }
      .commitment__photo {
        border-radius: 18px 0 0 18px;
      }
    }
    .commitment__text-box {
      font-size: 1.6rem;
      background-color: $bg-white;
      padding: 4rem 4rem;
      border-radius: 0 18px 18px 0;
      display: flex;
      flex-direction: column;
      align-content: space-between;

      @media (max-width: 34em) {
        border-radius: 18px 18px 0 0;
      }
      .highlighted-text {
        font-weight: 500;
        font-size: 1.7rem;
        margin-bottom: 1rem;
      }
    }
  }
}

//-----------------------------VALUES SECTION--------------------------//
.values {
  padding-bottom: 5rem;
  background-color: $yellow-1;

  h2 {
    color: #fff;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #fff;
    @media only screen and (max-width: 34em) {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
    }
  }
  &__boxes {
    font-size: 1.6rem;
    text-align: center;
    padding: 4rem 2rem;
    line-height: 1.6rem;
    font-family: "Montserrat";
    .value-text {
      p {
        color: $text-muted;
      }
    }
    @media only screen and (max-width: 34em) {
      display: flex;
      justify-content: space-between;
      padding: 2rem 2rem;
    }
    &:nth-child(even) {
      @media only screen and (max-width: 34em) {
        flex-direction: row-reverse;
      }
    }

    .value-text {
      font-weight: 500;
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      color: $dark-blue;
    }
    .icons {
      padding-bottom: 5rem;
      color: $blue;
    }
  }
}

//------------------TEAM SECTION----------------//
#team {
  .founder {
    &__content {
      display: flex;
      align-items: center;
      padding-bottom: 6rem;
      @media (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }
    &__heading {
      padding-bottom: 4rem;
    }
    &__name {
      font-size: 1.8rem;
      color: $pink;
      font-weight: 500;
      padding-bottom: 1rem;
    }
    &__title {
      padding-bottom: 2rem;
      font-size: 1.6rem;
      color: $yellow-dark;
      font-weight: 500;
    }
    &__img {
      width: 40rem;
      border-radius: 50%;
      border: 1rem solid $yellow-dark;
      @media (max-width: 34em) {
        width: 25rem;
      }
    }
    p {
      @media (max-width: 34em) {
        text-justify: justify;
      }
    }
  }
}

//------------------PROJECT PEDAGOGY  SECTION----------------//
.project {
  padding-bottom: 10rem;
  background-color: $blue;
  background-size: cover;
  #project-title {
    color: #fff;
  }

  .pedagogy {
    margin-bottom: 5rem;
    position: relative;
    .intro {
      padding-bottom: 4rem;
      span {
        font-weight: 600;
        color: $pink;
        font-size: 1.8rem;
      }
    }
  }
  //--------- Slideshow container------------//
  .slideshow-container {
    position: relative;
    background: $bg-white;
    color: $yellow-dark;

    /* Slides */
    .mySlides {
      display: none;
      padding: 3rem 8rem;
      @media (max-width: 768px) {
        padding: 2rem 6rem;
      }

      .slide-title {
        color: $yellow-dark;
        font-weight: 500;
        padding-bottom: 2rem;
        font-size: 2.5rem;
        @media (max-width: 34em) {
          font-size: 2rem;
        }
      }
      p {
        font-weight: 400;
        color: $dark-blue;
        @media (min-width: 770px) {
          height: 10rem;
        }
        @include laptop {
          height: 14rem;
        }
      }
    }
    //----------Next & previous buttons -----//
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -3rem;
      padding: 1.6rem;
      color: $pink;
      font-weight: bold;
      font-size: 2rem;
      border-radius: 0 3px 3px 0;
      user-select: none;
      @media (max-width: 768px) {
        top: 20%;
        margin-top: 3rem;
      }
      &:hover {
        background-color: $yellow-dark;
        color: white;
        // color: $dark-purple;
      }
      &:active {
        color: $pink;
      }
    }
    /* Position the "next button" to the right */
    .next {
      position: absolute;
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  }

  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 2rem;
    background: $yellow-1;

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    /* Add a background color to the active dot/circle */
    .active,
    .dot:hover {
      background-color: $pink;
    }
  }
}
//------------------PREMISES SECTION----------------//
.premises {
  &__text {
    display: inline-block;
    font-weight: 400;
  }
  &__text--main {
    padding-bottom: 2rem;
  }
  &__text--sub {
    padding-bottom: 5rem;
    text-align: center;
  }
  .premises__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;

    span {
      font-style: bold;
    }

    .map-responsive {
      overflow: hidden;
      position: relative;
      padding-bottom: 30%;
    }

    .map-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }

    a {
      color: $pink;
      font-size: 1.8rem;
    }
  }
}

//------------------PRICING SECTION----------------//
.pricing {
  background: $baby-pink;
  padding-bottom: 4rem;
  &__heading {
    padding-bottom: 3rem;
    font-weight: 500;
    font-size: 2rem;
  }
  .pricing__text {
    padding-bottom: 0.5rem;
    p {
      padding-bottom: 1rem;
    }
    .text-pricing {
      span {
        color: $pink;
        font-weight: 500;
      }
    }
  }
  #princing__table {
    border-collapse: collapse;
    width: 90%;
    font-size: 1.6rem;
    color: $text-muted;
    margin: 0 auto 2rem;
    line-height: 1.6;
    table-layout: fixed;
    background-color: #fff;
    td,
    th {
      border: 0.1rem solid #fff;
      padding: 0.8rem;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    td:first-child {
      background-color: $yellow-dark;
      // background-color: #fff;
    }
    td {
      width: 50%;
    }
    th {
      font-size: 1.6rem;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $blue;
      color: #fff;
    }
  }
}
//------------------CONTACT SECTION----------------//
#contact {
  background-attachment: fixed;
  .form-container {
    background-color: $yellow-light;
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 18px;
    font-size: 1.8rem;
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 34em) {
      width: 100%;
      padding: 2rem 2rem;
    }
    h3 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      font-weight: 500;
      line-height: 3rem;
      span a {
        color: $pink;
        font-weight: 600;
      }
    }
    .text-fields {
      .form-input {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: $text-muted;
        font-size: 1.6rem;
        font-family: "Montserrat";
        padding: 0.9rem 2rem;
        margin: 0.8rem auto;
        outline-color: $yellow-light;
        width: 100%;
        @media (max-width: 34em) {
          margin: 0.2rem auto;
        }
      }
      display: grid;
      grid-template-areas:
        "title name"
        "phone email"
        "subject subject"
        "message message";
      grid-gap: 1.2rem;
      @media (max-width: 34em) {
        grid-template-areas:
          "title"
          "name"
          "phone"
          "email"
          "subject"
          "message";
      }
      .title-input {
        grid-area: title;
      }
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
      }
    }
    button[type="submit"] {
      background-color: $blue;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 1.8rem;
      font-family: "Montserrat";
      font-weight: 500;
      padding: 14px 20px;
      margin: 8px 0;
      width: 100%;
    }

    button[type="submit"]:hover {
      background-color: #24babc;
      color: #fff;
      font-weight: 500;
    }
  }
  .safe {
    height: 10rem;
  }
}

//------------------FOOTER  SECTION----------------//
#footer {
  background-color: $blue;
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    .logo-footer {
      width: 25rem;
      @media (max-width: 768px) {
        margin: 0 auto;
      }
    }
    p {
      padding-bottom: 1rem;
    }

    .footer-box {
      border-left: 1px solid $pink;
      padding: 2rem 2rem;
      @media (max-width: 34em) {
        padding: 2rem 2rem;
        border-left: none;
      }
    }
    .footer-icons {
      margin-right: 0.5rem;
      color: $pink;
      &:hover {
        color: $hover-purple;
      }
    }
    .social-box {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 3rem 8rem;
      @media (max-width: 34em) {
        padding: 0 2rem;
      }
      .twitter {
        padding-right: 5rem;
      }
    }
  }
  .copyright {
    padding-bottom: 3rem;
    color: $pink;
  }
}
