@import "config";
@import "utilities";
@import "queries";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

//------------------HEADER----------------//
// Logo
#logo {
  width: 20rem;
}

#navbar {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex; //to be able to organize
  flex-wrap: nowrap;
  justify-content: space-between; //for logo on one side and links & ul on the other
  left: 0;
  max-width: $website-width;
  margin: 0 auto;
  overflow: hidden;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  .img-logo {
    width: 20rem;
  }

  ul {
    display: flex; //to be able to organize the li
  }

  li {
    padding: 1rem 1.5rem; //adds padding between the lis
  }

  .nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: $dark-purple;
    font-weight: bold;
    border-bottom: 3px transparent solid; //used for the hover effect
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; //for smooth effect on the hover

    &:hover {
      border-color: $main-color;
    }
  }
}
#navbar.top {
  background: transparent;
  .nav-link {
    color: #fff;
  }
}
// Header
#header {
  // Header Home
  &-home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      $bg-image no-repeat center right / cover;
    clip-path: ellipse(138% 100% at -0.16% 0%);
    color: #fff;
    height: 85vh;

    // Header text-box
    .header-content {
      width: 50%;
      padding-top: 12%;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: flex-start;
      // justify-content: flex-start;

      .heading-primary {
        font-size: 3.5rem;
        font-weight: 600;

        line-height: 1.4;
        margin-bottom: 5rem;
        color: #fff;
        &--sub {
          font-weight: 300;
          font-style: italic;
        }
      }
      p {
        font-size: 2rem;

        // color: #fff;
      }
    }
  }
}

//------------------SCHOOL SECTION----------------//
#school {
  .commitment__content {
    margin-bottom: 4.5rem;
    display: flex;
    .commitment__photo {
      width: 35rem;
      border-radius: 1.8rem 0 0 1.8rem;
      box-shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;
    }
    .commitment__text-box {
      display: flex;
      font-size: 1.8rem;
      flex-direction: column;
      justify-content: space-around;
      background-color: $light-color;
      border-radius: 0 1.8rem 1.8rem 0;
      // padding: 6rem;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      box-shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;
    }
  }
}
.values {
  background-color: $light-color;
  padding-bottom: 5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/dist//img/kid-drawing.jpg) no-repeat center right / cover;
  background-attachment: fixed;

  h2 {
    color: #fff;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #fff;
    div {
      color: #fff;
    }
  }
  &__boxes {
    font-size: 1.8rem;
    text-align: center;
    padding: 4rem 2rem;
    line-height: 1.8rem;
    font-family: "Montserrat";
    color: $text-muted;
    p {
      font-weight: 500;
    }
    .icons {
      padding-bottom: 5rem;
    }
  }
}

.founder {
  &__content {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  &__heading {
    padding-bottom: 6rem;
  }
  &__img {
    width: 30rem;
    border-radius: 50%;
    border: 0.8rem solid $purple-color;
    // box-shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;
  }
  p {
    font-size: 1.8rem;
    color: $text-muted;
  }
}

.project {
  padding-bottom: 10rem;
  background-color: $light-color;
  background-size: cover;

  .pedagogy {
    margin-bottom: 5rem;
    position: relative;

    .intro {
      padding-bottom: 4rem;
    }
  }

  /*-------slideshow-----*/
  .slider {
    width: 900px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    .slides {
      width: 500%;
      height: 300px;
      display: flex;
      background: $purple-color;
      // align-items: center;
      // padding: 0 2rem;
      h4 {
        display: inline-block;
        font-weight: 500;
        padding: 2rem 3rem;
        text-align: center;
      }
      p {
        padding: 0 3rem;
      }
      input {
        display: none;
      }
      .slide {
        width: 20%;
        transition: 2s;
        color: #fff;
      }
    }
  }

  /*css for manual slide navigation (buttons)*/

  .navigation-manual {
    position: absolute;
    width: 900px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .manual-btn {
    border: 2px solid $highlight-color;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }

  .manual-btn:hover {
    background: #40d3dc;
  }

  #radio1:checked ~ .first {
    margin-left: 0;
  }

  #radio2:checked ~ .first {
    margin-left: -20%;
  }

  #radio3:checked ~ .first {
    margin-left: -40%;
  }

  #radio4:checked ~ .first {
    margin-left: -60%;
  }
  #radio5:checked ~ .first {
    margin-left: -80%;
  }

  /*css for automatic navigation*/

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }

  .navigation-auto {
    div {
      border: 2px solid $highlight-color;
      padding: 5px;
      border-radius: 10px;
      transition: 1s;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background: $highlight-color;
  }

  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background: $highlight-color;
  }

  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background: $highlight-color;
  }

  #radio4:checked ~ .navigation-auto .auto-btn4 {
    background: $highlight-color;
  }
  #radio5:checked ~ .navigation-auto .auto-btn5 {
    background: $highlight-color;
  }
}

//------------------PREMISES SECTION----------------//
.premises {
  &__text {
    display: inline-block;
    text-align: center;
  }
  &__text--sub {
    padding-bottom: 5rem;
  }
  .premises__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;

    span {
      font-style: bold;
    }
    iframe {
      max-width: $website-width;
      box-shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;
      margin: auto;
    }
  }
}

//------------------PRICING SECTION----------------//
.pricing {
  background: $light-color;
  padding-bottom: 6rem;

  .pricing__text {
    padding-bottom: 5rem;
  }
  #princing__table {
    border-collapse: collapse;
    width: 90%;
    font-size: 1.8rem;
    color: $text-muted;
    margin: 0 auto;
    line-height: 1.4;
    table-layout: fixed;
    td,
    th {
      border: 0.1rem solid #ddd;
      padding: 0.8rem;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    td:first-child {
      background-color: $main-color;
      // color: $light-color;
    }
    td {
      width: 50%;
    }
    th {
      font-size: 1.8rem;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $main-color;
      background-color: $dark-purple;
      color: #fff;
    }
  }
}
//------------------CONTACT SECTION----------------//
#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/dist/img/pencils-color-light.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  .form-container {
    background-color: $main-color;
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 18px;
    font-size: 1.8rem;
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: $text-muted;
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
    .text-fields {
      .form-input {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: $text-muted;
        font-size: 1.8rem;
        font-family: "Montserrat";
        padding: 0.9rem 2rem;
        margin: 0.8rem auto;
        outline-color: $main-color;
        width: 100%;
      }
      display: grid;
      grid-template-areas:
        "title name"
        "phone email"
        "subject subject"
        "message message";
      grid-gap: 1.2rem;

      .title-input {
        grid-area: title;
      }
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
      }
    }
    button[type="submit"] {
      background-color: $dark-purple;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 1.8rem;
      font-family: "Montserrat";
      padding: 14px 20px;
      margin: 8px 0;
      width: 100%;
    }

    button[type="submit"]:hover {
      background-color: #cca028;
      color: #fff;
    }
  }
}

//------------------FOOTER  SECTION----------------//
