@import "config";
@import "utilities";
@import "queries";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
$light-grey: #f4f4f4;

.img {
  &-logo {
    width: 20rem;
  }
  &-founder {
    width: 20rem;
  }
  &-local {
    width: 20rem;
  }
}

// /* MOBILE */
// .btn-mobile-nav {
//   border: none;
//   background: none;
//   cursor: pointer;

//   display: none;
// }

// .icon-mobile-nav {
//   height: 4.8rem;
//   width: 4.8rem;
//   color: #333;
// }

// .icon-mobile-nav[name="close-outline"] {
//   display: none;
// }

// /* STICKY NAVIGATION */
// .sticky .header {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   width: 100%;
//   height: 8rem;
//   padding-top: 0;
//   padding-bottom: 0;
//   background-color: rgba(255, 255, 255, 0.97);
//   z-index: 999;
//   box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
// }

// .sticky .section-hero {
//   margin-top: 9.6rem;
// }

// /**************************/
// /* HERO SECTION */
// /**************************/

// .section-hero {
//   background-color: #fdf2e9;
//   padding: 4.8rem 0 9.6rem 0;
// }

// .hero {
//   max-width: 130rem;
//   margin: 0 auto;
//   padding: 0 3.2rem;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 9.6rem;
//   align-items: center;
// }

// .hero-description {
//   font-size: 2rem;
//   line-height: 1.6;
//   margin-bottom: 4.8rem;
// }

// .hero-img {
//   width: 100%;
// }

//------------------HEADER----------------//
// Logo
#logo {
  width: 20rem;
}

#navbar {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);

  // opacity: 0.8;
  display: flex; //to be able to organize
  flex-wrap: nowrap;
  justify-content: space-between; //for logo on one side and links & ul on the other
  left: 0;
  max-width: $website-width;
  margin: 0 auto;
  overflow: hidden;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 100;

  ul {
    display: flex; //to be able to organize the li
  }

  li {
    padding: 1rem 1.5rem; //adds padding between the lis
  }

  .nav-link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 3px transparent solid; //used for the hover effect
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; //for smooth effect on the hover

    &:hover {
      border-color: $main-color;
    }
  }
}
#navbar.top {
  background: transparent;
  .nav-link {
    color: #fff;
  }
}
// Header
#header {
  // Header Home
  &-home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      $bg-image no-repeat center right / cover;
    clip-path: ellipse(138% 100% at -0.16% 0%);
    color: #fff;
    height: 70vh;

    // Header text-box
    .header-content {
      width: 45%;
      padding-top: 12%;
      color: #fff;

      .heading-primary {
        font-size: 5rem;
        line-height: 1.4;
        margin-bottom: 5rem;
        color: #fff;
      }
      p {
        font-size: 2rem;

        // color: #fff;
      }
    }
  }
}

//------------------SCHOOL SECTION----------------//
#school {
  .commitment__content {
    margin-bottom: 4.5rem;
    display: flex;
    .commitment__photo {
      width: 35rem;
      border-radius: 1.8rem 0 0 1.8rem;
      box-shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;
    }
    .commitment__text-box {
      display: flex;
      font-size: 1.8rem;
      flex-direction: column;
      justify-content: space-around;
      background-color: $light-color;
      border-radius: 0 1.8rem 1.8rem 0;
      padding: 0 6rem;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      box-shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;
    }
  }
}
.values {
  background-color: $light-color;
  padding-bottom: 5rem;

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__boxes {
    font-size: 1.8rem;
    text-align: center;
    padding: 4rem 2rem;
    line-height: 1.8rem;
    font-family: "Montserrat";
    color: $text-muted;

    .icons {
      padding-bottom: 5rem;
    }
  }
}

.founder {
  &__content {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  &__heading {
    padding-bottom: 6rem;
  }
  &__img {
    width: 30rem;
    border-radius: 50%;
    border: 0.8rem solid $main-color;
    // box-shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;
  }
  p {
    font-size: 1.8rem;
    color: $text-muted;
  }
}

.project {
  background: $light-color;
  padding-bottom: 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/dist/img/pedagogy-bg.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  .pedagogy {
    margin-bottom: 5rem;
    position: relative;
  }
  // #slideshow {
  //   position: relative;
  //   height: 30rem;
  //   border-radius: 0 1.8rem 0 1.8rem;
  //   background: $light-yellow;
  //   padding: 2rem 5rem 10rem;
  //   color: $text-muted;
  //   h2 {
  //     padding-bottom: 2rem;
  //     text-align: center;
  //   }
  //   h3 {
  //     padding-bottom: 3rem;
  //     color: $dark-blue;
  //   }
  //   div {
  //     position: absolute;
  //     top: 7rem;
  //     left: 5rem;
  //     right: 5rem;
  //     bottom: 3rem;
  //     padding: 2rem;
  //     background: $light-color;
  //     border-radius: 1.8rem;
  //   }
  // }
  /*-------slideshow-----*/
  .slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    .slides {
      width: 500%;
      height: 500px;
      display: flex;

      input {
        display: none;
      }
      .slide {
        width: 20%;
        transition: 2s;
        img {
          width: 800px;
          height: 500px;
        }
      }
    }
  }

  /*css for manual slide navigation (buttons)*/

  .navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }

  .manual-btn:hover {
    background: #40d3dc;
  }

  #radio1:checked ~ .first {
    margin-left: 0;
  }

  #radio2:checked ~ .first {
    margin-left: -20%;
  }

  #radio3:checked ~ .first {
    margin-left: -40%;
  }

  #radio4:checked ~ .first {
    margin-left: -60%;
  }
  #radio5:checked ~ .first {
    margin-left: -80%;
  }

  /*css for automatic navigation*/

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }

  .navigation-auto {
    div {
      border: 2px solid #40d3dc;
      padding: 5px;
      border-radius: 10px;
      transition: 1s;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40d3dc;
  }

  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40d3dc;
  }

  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40d3dc;
  }

  #radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40d3dc;
  }
  #radio5:checked ~ .navigation-auto .auto-btn5 {
    background: #40d3dc;
  }
}

//------------------PREMISES SECTION----------------//
.premises {
  &__text {
    display: inline-block;
    text-align: center;
  }
  &__text--sub {
    padding-bottom: 5rem;
  }
  .premises__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;

    span {
      font-style: bold;
    }
    iframe {
      max-width: $website-width;
      box-shadow: rgba(17, 12, 46, 0.1) 0px 20px 30px 0px;
      margin: auto;
    }
  }
}

//------------------PRICING SECTION----------------//
.pricing {
  background: $light-color;
  padding-bottom: 6rem;

  .pricing__text {
    padding-bottom: 5rem;
  }
  #princing__table {
    border-collapse: collapse;
    width: 90%;
    font-size: 1.8rem;
    color: $text-muted;
    margin: 0 auto;
    line-height: 1.4;
    table-layout: fixed;
    td,
    th {
      border: 0.1rem solid #ddd;
      padding: 0.8rem;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    td:first-child {
      background-color: $main-color;
      // color: $light-color;
    }
    td {
      width: 50%;
    }
    th {
      font-size: 1.8rem;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $main-color;
      color: $text-muted;
    }
  }
}
//------------------CONTACT SECTION----------------//
#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/dist/img/markus-spiske-IFCloi6PYOA-unsplash.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  .form-container {
    background-color: $main-color;
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 18px;
    font-size: 1.8rem;
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: $text-muted;
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
    .text-fields {
      .form-input {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: $text-muted;
        font-size: 1.8rem;
        font-family: "Montserrat";
        padding: 0.9rem 2rem;
        margin: 0.8rem auto;
        outline-color: $main-color;
        width: 100%;
      }
      display: grid;
      grid-template-areas:
        "title name"
        "phone email"
        "subject subject"
        "message message";
      grid-gap: 1.2rem;

      .title-input {
        grid-area: title;
      }
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
      }
    }
    button[type="submit"] {
      background-color: #ffbc00;
      border: none;
      border-radius: 4px;
      color: $text-muted;
      cursor: pointer;
      font-size: 1.8rem;
      font-family: "Montserrat";
      padding: 14px 20px;
      margin: 8px 0;
      width: 100%;
    }

    button[type="submit"]:hover {
      background-color: #cca028;
      color: #fff;
    }
  }
}

//------------------FOOTER  SECTION----------------//
